.seccion-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-block: 100px 130px;
    align-items: center;
}

.esquina {
    position: absolute;
    height: 160px;
}

.sup-izq {
    top: 10px;
    left: 10px;
}

.sup-der {
    top: 10px;
    right: 10px;
    transform: scaleX(-1);
}

.inf-izq {
    bottom: 10px;
    left: 10px;
}

.inf-der {
    bottom: 10px;
    right: 10px;
    transform: scaleX(-1);
}

.separador {
    width: 500px;
    height: auto;
    margin-block: 8px 20px;
}

.datosbasicos {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 19px;
}

.item-dato {
    display: flex;
    background-color: var(--color-primario);
    align-items: stretch;
    border: 1px solid var(--color-secundario);
    padding: 2px;
    gap: 2px;

    & * {
        border-radius: 10px;
        padding: 7px 22px;
    }
}

.campo {
    background-color: var(--color-secundario);
    color: var(--color-primario);
    white-space: nowrap;
}

.valor {
    background-color: var(--color-base);
    color: #ad2031;
    flex: 1;
}