@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

.historia-container {
    --base-historia: #0A0A0A;
    --borde-historia: #171717;
    --primario-historia: #424242;
    --cuerpo-historia: #9C9C9C;

    width: 100%;
    min-height: 100vh;
    background-color: var(--base-historia);
    color: var(--cuerpo-historia);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    box-sizing: border-box;
    font-family: 'PangSerif', serif;
}

.historia-container::selection {
    background-color: transparent;
    color: white;
    text-shadow: 0 0 2px var(--color-primario), 0 0 4px var(--color-primario), 0 0 8px var(--color-primario), 0 0 10px var(--color-primario);
}

.encabezado-svg {
    max-width: 100%;
    margin-bottom: 20px;
}

.historia-content {
    position: relative;
    text-align: justify;
    width: 720px;
    height: auto;
    border: 1px solid var(--borde-historia);
    background-color: var(--base-historia);
    padding: 100px;
    padding-bottom: 150px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.historia-texto {
    white-space: pre-wrap;
    font-family: 'Alice', serif;
    font-size: 16px;
    line-height: 1.8;
    color: var(--cuerpo-historia);
}

.titulo-historia {
    font-family: 'PangSerif', serif;
    font-size: 62px;
    color: var(--primario-historia);
    margin: 0;
    text-align: center;
    line-height: 1.2;
}

.esquinas-container {
    position: absolute;
    inset: 0;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: none;
    z-index: 10;
}

.fila-esquinas {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.esquina-historia {
    display: block;
}

.esq-sup-izq,
.esq-sup-der {
    width: 100px;
}

.esq-inf-izq,
.esq-inf-der {
    width: 120px;
}

.esq-sup-der {
    transform: scaleX(-1);
}

.esq-inf-der {
    transform: scaleX(-1);
}

.error-message {
    color: var(--color-primario);
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
}

.loading {
    color: var(--color-blanco);
    text-align: center;
    font-size: 20px;
}