.sigil-container {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    transition: 0.3s ease-in-out;
}

#sigil {
    width: 100%;
    height: auto;
}


/* Base rounded background and stroke */
.pentagram-base {
    fill: var(--color-secundario);
    stroke: var(--color-primario);
    stroke-width: 2;
}

/* Rounded filled tips at pentacle vertices */
.pentacle-tip {
    fill: var(--color-primario);
    stroke: none;
}


#pentacle {
    fill: none;
    stroke: var(--color-primario);
    stroke-width: 3;
    stroke-linejoin: round;
}


.stat-label,
.stat-value,
#pm-label,
#pm-value {
    font-family: 'PangSerif', serif;
    text-anchor: middle;
    pointer-events: none;
    fill: var(--color-primario);
}

.daedric-symbol {
    font-family: 'Daedra', sans-serif;
    font-size: 40px;
    fill: var(--color-primario);
    text-anchor: middle;
    dominant-baseline: central;
}


.stat-label,
#pm-label {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    dominant-baseline: central;
}


.stat-value,
#pm-value {
    font-size: 20px;
    font-weight: 400;
    dominant-baseline: central;
}