.ficha {
  position: relative;
  width: 720px;
  height: 2588px;
  overflow: hidden;
  background-color: var(--color-base);
  border: 1px solid var(--color-secundario);
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.titulo {
  margin: 0px;
  font-size: 50px;
  text-align: center;
  width: 100%;
}

.seccion {
  width: 100%;
  box-sizing: border-box;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.not-transmuted .seccion-2,
.not-transmuted .seccion-3,
.not-transmuted .seccion-4 {
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
}

.transmuted .seccion-2,
.transmuted .seccion-3,
.transmuted .seccion-4 {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}

img {
  pointer-events: none;
}