@font-face {
  font-family: 'PangSerif';
  src: url('./assets/fonts/PangSerif.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Daedra';
  src: url('./assets/fonts/Daedra.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-base: #1F0506;
  --color-primario: #D81F38;
  --color-secundario: #38050C;
  --color-blanco: #fff;

  font-family: 'PangSerif', serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--color-primario);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0
}


.texto-bitacora {
  --scrollbar-thumb-color: var(--color-base);
}

.texto-historial:hover {
  --scrollbar-thumb-color: var(--color-secundario);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transition: background-color 0.3s ease;
}

a {
  text-decoration: none;
  color: var(--color-primario);
}